.content {
    background-image: url("../img/landing-bg.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 830px;
    margin-bottom: 70px;
}