.header {
    padding: 15px 0;    
}

.logo {
    float: left;
    height: 40px;
}

.login-form {
    float: right;
}

.menu {
    float: right;
}

.menu__item {
    float: left;
    font-size: 14px;
    line-height: 17.07px;
    margin-right: 20px;    
    line-height: 40px;
}

.menu__item a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);;
}

.menu__item_active {
    color: rgba(31, 32, 65, 0.75);
    font-weight: 700;
}

.sign-in {
    background-color: white !important;
    color: #BC9CFF !important;    
    margin-left: 20px;
}

.sign-up {
    background-color: #BC9CFF;
    color: white;    
    margin-left: 20px;
}