.card {
    width: 380px;
    background-color: white;
    padding: 40px 30px 30px ;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.card__section {
    margin-bottom: 20px;
}

.card__date {
    display: flex;
    justify-content: space-between;
}

.card__input {
    box-sizing: border-box;
    height: 44px;
    outline: none;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    padding: 10px 15px;
    padding-right: 44px;
    font-size: 14px;
    line-height: 18px;
    background-image: url(../img/expand-more.svg);
    background-repeat: no-repeat;
    background-position: right 16px bottom 18px;
}

.card__input_email input{
    background-image: url(../img/arrow-right-purple.svg);    
    background-position: right 13px bottom 13px;
}

.card__date-input {
    width: 150px;
    letter-spacing: 0em;
}

.guests-number {
    width: 100%;
}

.card__guests-number {
    margin-bottom: 31px;
}

.card__btn {
    width: 320px;
    display: inline-block;    
    padding: 14px 20px 15px;
    text-align: center;
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: 95% 50%;
}